In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="ALpc220918",
                               db="vaccines"))

In [9]:
covarage_df = pd.read_excel("coverage-data.xlsx")
cases_df = pd.read_excel("reported-cases-data.xlsx")
vaccine_df = pd.read_excel("vaccine-introduction-data.xlsx")

In [11]:
covarage_df.to_sql('covarage', con = engine, if_exists = 'append')
cases_df.to_sql('cases', con = engine, if_exists = 'append')
vaccine_df.to_sql('vaccine', con = engine, if_exists = 'append')

130186

In [3]:
# covarage_df.to_csv("covarage_data.csv")
# cases_df.to_csv("reported-cases-data.csv")
# vaccine_df.to_csv("vaccine_introduction_data.csv")

In [5]:
display(covarage_df.shape)
display(cases_df.shape)
display(vaccine_df.shape)

(373785, 11)

(82074, 7)

(130186, 6)

In [26]:
covarage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373785 entries, 0 to 373784
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          373785 non-null  object
 1   CODE                           373784 non-null  object
 2   NAME                           372604 non-null  object
 3   YEAR                           373784 non-null  float64
 4   ANTIGEN                        373784 non-null  object
 5   ANTIGEN_DESCRIPTION            373784 non-null  object
 6   COVERAGE_CATEGORY              373784 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  373784 non-null  object
 8   TARGET_NUMBER                  69872 non-null   float64
 9   DOSES                          69084 non-null   float64
 10  COVERAGE                       215375 non-null  float64
dtypes: float64(4), object(7)
memory usage: 31.4+ MB

In [53]:
covarage_df["CODE"].unique()

array(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ARE', 'ARG', 'ARM',
       'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL',
       'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COK', 'COL', 'COM', 'CPV',
       'CRI', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA',
       'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH',
       'FIN', 'FJI', 'FRA', 'FSM', 'GAB', 'GBR', 'GEO', 'GHA', 'GIN',
       'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUM', 'GUY', 'HKG',
       'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ',
       'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ',
       'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY',
       'LCA', 'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAC', 'MAR', 'MCO',
       'MDA', 'MDG', 'MDV', 'MEX', 'MHL', 'MKD', 'MLI', 'MLT', 'MMR',
       'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MSR', 'MUS', 'MWI', 'MYS',
       'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NIU', 'NLD', 'NOR', 'NPL',
       'NRU', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG',
       'POL', 'PRK', 'PRT', 'PRY', 'PSE', 'PYF', 'QAT', 'ROU', 'RUS',
       'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR',
       'SOM', 'SRB', 'SSD', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SXM', 'SYC', 'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKL',
       'TKM', 'TLS', 'TON', 'TTO', 'TUN', 'TUR', 'TUV', 'TZA', 'UGA',
       'UKR', 'URY', 'USA', 'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'VUT',
       'WLF', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE',
       'DEVELOPED_ECONOMY', 'DEVELOPING', 'ECONOMY_IN_TRANSITION',
       'LEAST_DEVELOPED', 'GAVI_PHASE5_NO', 'GAVI_PHASE5_YES', 'GLOBAL',
       'UNICEF_REGIONS_CEE_CIS', 'UNICEF_REGIONS_DEV',
       'UNICEF_REGIONS_EAPRO', 'UNICEF_REGIONS_ESARO',
       'UNICEF_REGIONS_LACRO', 'UNICEF_REGIONS_MENA',
       'UNICEF_REGIONS_ROSA', 'UNICEF_REGIONS_WCARO',
       'WB_LONG_HIC_NONOECD', 'WB_LONG_HIC_OECD', 'WB_LONG_LIC',
       'WB_LONG_LMIC', 'WB_LONG_NA', 'WB_LONG_UMIC', 'WB_SHORT_HIC',
       'WB_SHORT_LIC', 'WB_SHORT_MIC', 'WB_SHORT_NA', 'AFR', 'AMR', 'EMR',
       'EUR', 'SEAR', 'WPR', nan], dtype=object)

In [72]:
test = covarage_df[covarage_df["CODE"]=="RUS"]

In [73]:
test["TARGET_NUMBER"].isnull().sum()

1411

In [74]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1655 entries, 270224 to 271878
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GROUP                          1655 non-null   object
 1   CODE                           1655 non-null   object
 2   NAME                           1655 non-null   object
 3   YEAR                           1655 non-null   float64
 4   ANTIGEN                        1655 non-null   object
 5   ANTIGEN_DESCRIPTION            1655 non-null   object
 6   COVERAGE_CATEGORY              1655 non-null   object
 7   COVERAGE_CATEGORY_DESCRIPTION  1655 non-null   object
 8   TARGET_NUMBER                  244 non-null    float64
 9   DOSES                          251 non-null    float64
 10  COVERAGE                       789 non-null    float64
dtypes: float64(4), object(7)
memory usage: 155.2+ KB

In [28]:
covarage_df["YEAR"].unique()

array([2022., 2021., 2019., 2018., 2017., 2020., 2016., 2015., 2014.,
       2013., 2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005.,
       2004., 2003., 2002., 2001., 2000., 1999., 1998., 1997., 1996.,
       1995., 1994., 1993., 1992., 1991., 1990., 1989., 1988., 1987.,
       1986., 1985., 1984., 1983., 1982., 1981., 1980.,   nan])

In [29]:
cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82074 entries, 0 to 82073
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP                82074 non-null  object
 1   CODE                 82073 non-null  object
 2   NAME                 82073 non-null  object
 3   YEAR                 82073 non-null  float64
 4   DISEASE              82073 non-null  object
 5   DISEASE_DESCRIPTION  82073 non-null  object
 6   CASES                63292 non-null  float64
dtypes: float64(2), object(5)
memory usage: 4.4+ MB

In [47]:
cases_df["CODE"].unique()

array(['ABW', 'AFG', 'AFR', 'AGO', 'AIA', 'ALB', 'AMR', 'AND', 'ARE',
       'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN',
       'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COK', 'COL',
       'COM', 'CPV', 'CRI', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU',
       'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'EMR', 'ERI',
       'ESP', 'EST', 'ETH', 'EUR', 'FIN', 'FJI', 'FRA', 'FSM', 'GAB',
       'GBR', 'GEO', 'GHA', 'GIN', 'GLOBAL', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GTM', 'GUM', 'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN',
       'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM',
       'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR',
       'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LKA', 'LSO', 'LTU',
       'LUX', 'LVA', 'MAC', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX',
       'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MNP', 'MOZ',
       'MRT', 'MSR', 'MUS', 'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA',
       'NIC', 'NIU', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OMN', 'PAK',
       'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRK', 'PRT', 'PRY',
       'PSE', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEAR',
       'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSD',
       'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC', 'SYR',
       'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKL', 'TKM', 'TLS', 'TON',
       'TTO', 'TUN', 'TUR', 'TUV', 'TZA', 'UGA', 'UKR', 'URY', 'USA',
       'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'VUT', 'WLF', 'WPR', 'WSM',
       'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE', nan], dtype=object)

In [50]:
cases_df[cases_df["CODE"]=="PRT"]

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
60169,COUNTRIES,PRT,Portugal,2022.0,TYPHOID,Typhoid,13.0
60170,COUNTRIES,PRT,Portugal,2022.0,CRS,Congenital rubella syndrome,0.0
60171,COUNTRIES,PRT,Portugal,2022.0,TTETANUS,Total tetanus,0.0
60172,COUNTRIES,PRT,Portugal,2022.0,POLIO,Poliomyelitis,0.0
60173,COUNTRIES,PRT,Portugal,2022.0,DIPHTHERIA,Diphtheria,0.0
...,...,...,...,...,...,...,...
60551,COUNTRIES,PRT,Portugal,1980.0,MEASLES,Measles,NaN
60552,COUNTRIES,PRT,Portugal,1980.0,YFEVER,Yellow fever,NaN
60553,COUNTRIES,PRT,Portugal,1980.0,NTETANUS,Neonatal tetanus,9.0
60554,COUNTRIES,PRT,Portugal,1980.0,POLIO,Poliomyelitis,0.0
60555,COUNTRIES,PRT,Portugal,1980.0,DIPHTHERIA,Diphtheria,90.0

In [31]:
cases_df["YEAR"].unique()

array([2022., 2021., 2019., 2018., 2017., 2020., 2016., 2015., 2014.,
       2013., 2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005.,
       2004., 2003., 2002., 2001., 2000., 1999., 1998., 1997., 1996.,
       1995., 1994., 1993., 1992., 1991., 1990., 1989., 1988., 1987.,
       1986., 1985., 1984., 1983., 1982., 1981., 1980.,   nan])

In [32]:
vaccine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130186 entries, 0 to 130185
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   130186 non-null  object
 1   COUNTRYNAME  130185 non-null  object
 2   WHO_REGION   130185 non-null  object
 3   YEAR         130185 non-null  float64
 4   DESCRIPTION  130185 non-null  object
 5   INTRO        130185 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.0+ MB

In [52]:
vaccine_df["WHO_REGION"].unique()

array(['EMRO', 'AFRO', 'EURO', 'AMRO', 'WPRO', 'SEARO', nan], dtype=object)

In [46]:
vaccine_df[vaccine_df["WHO_REGION"]=="EURO"]

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
1410,ALB,Albania,EURO,2022.0,Mumps vaccine,Yes
1411,ALB,Albania,EURO,2022.0,Rubella vaccine,Yes
1412,ALB,Albania,EURO,2022.0,IPV (Inactivated polio vaccine),Yes
1413,ALB,Albania,EURO,2022.0,Hepatitis A vaccine,No
1414,ALB,Albania,EURO,2022.0,YF (Yellow fever) vaccine,No
...,...,...,...,...,...,...
123835,UZB,Uzbekistan,EURO,1991.0,Hepatitis B vaccine,No
123836,UZB,Uzbekistan,EURO,1991.0,Measles-containing vaccine 2nd dose,Yes
123837,UZB,Uzbekistan,EURO,1991.0,Hib (Haemophilus influenzae type B) vaccine,No
123838,UZB,Uzbekistan,EURO,1991.0,Seasonal Influenza vaccine,No
123839,UZB,Uzbekistan,EURO,1991.0,HepB birth dose,No

In [35]:
vaccine_df["YEAR"].unique()

array([2022., 2021., 2020., 2019., 2018., 2017., 2016., 2015., 2014.,
       2013., 2012., 2011., 2010., 2009., 2008., 2007., 2006., 2005.,
       2004., 2003., 2002., 2001., 2000., 1999., 1998., 1997., 1996.,
       1995., 1994., 1993., 1992., 1991., 1990., 1989., 1988., 1987.,
       1986., 1985., 1984., 1983., 1982., 1981., 1980., 1979., 1978.,
       1977., 1976., 1975., 1974., 1973., 1972., 1971., 1970., 1969.,
       1968., 1967., 1966., 1965., 1964., 1963., 1962., 1961., 1960.,
       1959., 1958., 1957., 1956., 1955., 1954., 1953., 1952., 1951.,
       1950., 1949., 1948., 1947., 1946., 1945., 1944., 1943., 1942.,
       1941., 1940.,   nan])

In [ ]:
engine.dispose()